.menu {
  display: flex;
}
.menuLink {
  font-size: 1.4rem;
  color: #FFF;
  background-color: #1e1c32;
  padding: 5px 25px;
  font-weight: 500;
  cursor: pointer;
}
.menuLink:hover {
  background-color: rgba(30, 28, 50, .6);
}

@media screen and (max-width: 768px) {
  .menuLink {
    font-size: 1.1rem;
    padding: 10px 25px;
  }
}

@media screen and (max-width: 426px) {
  .menu {
    flex-direction: column;
  }
}