.singleCategory {
  width: calc(100% / 6);
  text-align: center;
  margin: 0 auto;
  padding: 10px 0;
}
.singleCategory h5 {
  color: #838292;
  font-size: 1.3rem;
}
.semicircle {
  position: relative;
  display: flex;
  margin: auto;
  margin-top: 10px;
  width: 65%;
  height: 60px;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  border: 13px solid rgb(128, 128, 128);
  border-bottom: 0;
  margin-bottom: 15px;
}
.num_text {
  font-size: 2rem;
  font-weight: bold;
  left: 50%;
  bottom: -5px;
  transform: translateX(-50%);
  position: absolute
}

@media screen and (max-width: 1024px) {
  .singleCategory h5 {
    font-size: 1.1rem;
  }
  .semicircle {
    width: 75%;
  }
  .num_text {
    font-size: 1.7rem;
  }
}

@media screen and (max-width: 426px) {
}